body{
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #286340;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
    -webkit-font-smoothing: antialised; 
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #2e2a1e;
}

.group {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px; 
    color: black;
}

.group-active {
     background-color: #868ad3;   
}

.d-inline {
    display: inline-block;
}

#mario-chat{
    
    width: 95%;
    min-width: 360px; 
    max-width: 1000px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
    border: 2px solid black;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-groups{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    border-style: solid;
    border-color: black;
    border-width: 2px 0px;
}

#chat-window{
    display: flex;
    height: 400px;
    background: #f9f9f9;
    width: 75%;
    position:relative;
    border: 0px 0px 0px 2px solid black;
    flex-direction: column;
}

#groups{
    display: flex;
    align-items: flex-start ;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    background: #535050; 
    width: 25%;
    border: 2px 2px 2px 0px solid black ;
}

#output {
    overflow: auto;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 1px;
    padding: 12px 0;
    width: 100%;
    border-color: rgb(45, 49, 49);
    border-radius: 0 0 2px 2px;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
 
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  

  .hide {
    display: none;
  }

  .show {
    border: 3px solid black;
    border-radius: 13px; 
    background-color:rgba(211, 212, 212, 0.781);;    
  }

  .show input{
      border: 2px solid black;
      border-radius: 3px;
  }

  .close_modal{
    background: red;
    grid-area: 2/3/2/3;    
    border-radius: 15px;
    border: 2px solid rgb(134, 24, 24);
  }

  .close_modal h1{
      color: white;
  }

   .popup_modal{
       display: grid;
       grid-template: 0.1fr 1fr 1fr 1fr 0.2fr 1fr 0.1fr/0.1fr 9fr 1fr 0.1fr;
       height: 300px;
       width:  300px;
   }

   .popup_modal h1{
       grid-area: 2/2/2/2;
   }

   .popup_modal input{
       grid-area: 4/2/4/4;
   }

   .submit_modal{
       border-radius: 3px;
       border: 2px solid black;
       grid-area: 6/2/6/4;
   }

  